.placeholder(@color: #999, @selector: ~'.form-control'){
	@{selector}::-moz-placeholder {
	  color: @color;
	  opacity: 1;
	}
	@{selector}:-ms-input-placeholder {
	  color: @color;
	}
	@{selector}::-webkit-input-placeholder {
	  color: @color;
	}
}

.font-min(@family: arial,@path: @family, @weight: normal, @style: normal){
    @font-face{
        font-family: @family;
	    src: url('../fonts/@{path}/@{path}.eot');
	    src: url('../fonts/@{path}/@{path}.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/@{path}/@{path}.woff') format('woff'),
	         url('../fonts/@{path}/@{path}.ttf') format('truetype');
        font-weight: @weight;
        font-style: @style;
    }
}

.font-woff2(@family: arial,@path: @family, @weight: normal, @style: normal){
    @font-face{
        font-family: @family;
	    src: url('../fonts/@{path}/@{path}.eot');
	    src: url('../fonts/@{path}/@{path}.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/@{path}/@{path}.woff') format('woff'),
	         url('../fonts/@{path}/@{path}.woff2') format('woff2'),
	         url('../fonts/@{path}/@{path}.ttf') format('truetype');

        font-weight: @weight;
        font-style: @style;
    }
}
	         

.font-svg(@family: arial, @path: @family, @weight: normal, @style: normal){
    @font-face{
        font-family: @family;
	    src: url('../fonts/@{path}/@{path}.eot');
	    src: url('../fonts/@{path}/@{path}.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/@{path}/@{path}.woff') format('woff'),
	         url('../fonts/@{path}/@{path}.woff2') format('woff2'),
	         url('../fonts/@{path}/@{path}.ttf') format('truetype'),
			 url('../fonts/@{path}/@{path}.svg#@{path}') format('svg');
        font-weight: @weight;
        font-style: @style;
    }
}

.font-full(@family: arial,@path: @family, @weight: normal, @style: normal){
    @font-face{
        font-family: @family;
	    src: url('../fonts/@{path}/@{path}.eot');
	    src: url('../fonts/@{path}/@{path}.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/@{path}/@{path}.woff') format('woff'),
	         url('../fonts/@{path}/@{path}.woff2') format('woff2'),
	         url('../fonts/@{path}/@{path}.ttf') format('truetype'),
			 url('../fonts/@{path}/@{path}.svg#@{path}') format('svg');
        font-weight: @weight;
        font-style: @style;
    }
}

@-small-mobile:  ~"only screen and (max-width : 479px)";
@-mobile:      ~"only screen and (max-width : 767px)";
@-tablet:      ~"only screen and (max-width : 991px)";
@-desktop:     ~"only screen and (max-width : 1199px)";

@small-mobile:  ~"only screen and (min-width : 480px)";
@mobile:       ~"only screen and (min-width : 768px)";
@tablet:       ~"only screen and (min-width : 992px)";
@desktop:      ~"only screen and (min-width : 1200px)";

.less(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}
.more(@minWidth;  @rules) {
    @media only screen and (min-width: @minWidth) {
        @rules();
    }
}